.pagination {
    display: flex;
    justify-content: center;
  
    margin-top: 40px;
  }
  
  .pagination button {
    background: var(--primary);
  
    color: white;
  
    padding: 14px 22px;
  
    border-radius: 999px;
  
    font-weight: 600;
  }